{% extends 'layout.html' %}
{% block content %}
Welcome User
{% endblock %}
{% block body %}

<div class="container">
        <div class="vertical-center">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-bookmark" style="font-size: 100px"></span> Welcome User</h3>
                    </div>
                    <div class="panel-body">
                            <div class="container">
                                <a href="../restaurants/" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt" style="font-size: 75px"></span> <br/>Look For<br /> a Restaurant</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal" style="font-size: 75px"></span> <br/>Report <br />Bajrang Dal<br /> Activities</a>
                            </div>
                            <div class="container">
                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user" style="font-size: 75px"></span> <br/>Edit Profile</a>
                                <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file" style="font-size: 75px"></span> <br/>Contact us: <br /> mausamkeda@gmail.com</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}