{% extends 'layout.html' %}
{% block body %}

    <div class="container">
        <h1>Edit Profile</h1>
        <hr>
        <div class="row">
        <!-- left column -->
        <div class="col-md-offset-4">
        <div class="col-md-4">
            <div class="text-center">
            <img src="//placehold.it/250" class="avatar img-circle" alt="avatar">
            <h6>Upload a different photo...</h6>
            
            <input type="file">
            </div>
            <hr>
        </div>
        </div>
        
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h2>Personal info</h2>
            <hr>
            
            <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label" style="font-size: 18px">First name:</label>
                <div class="col-lg-8">
                <input class="form-control" type="text" value="Jane">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" style="font-size: 18px">Last name:</label>
                <div class="col-lg-8">
                <input class="form-control" type="text" value="Bishop">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" style="font-size: 18px">Email:</label>
                <div class="col-lg-8"  style="margin:10px">
                <strong>random@email.com </strong>  
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-md-3 control-label" style="font-size: 18px">Username:</label>
                <div class="col-md-8" style="margin:10px">
                <strong>user_name</strong>
                </div>
                
            </div>
            <div class="form-group">
                    <label class="col-md-3 control-label" style="font-size: 18px">Relationship Status:</label>
                    <div class="col-md-8" style="margin:10px">
                    <strong>Commited to ASO</strong>
                    </div>
                    
                </div>
            <hr>
            <div class="form-group"> 
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel">
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <hr>
{% endblock %}