{% extends 'layout.html' %}
	{% block content %}
		Couple Dal
	{% endblock %}
{% block body %}
	<div class="container" style="max-width: 550px;margin: 0 auto;">
		<div class-"content" style="background: rgba(0, 0, 0, 0.3);color: #f1f1f1;width: 100%;padding: 20px; ">
			<h1>Couple Dal</h1>
			<h2>We welcome you to this platform that caters
				to the needs of the couples. We have features
				that help you decide on where to go on dates to
				make your days memorable and a secret feature that we will
				tell you once you join. We always strive to provide you with
				the best of the features so that you enjoy today as if there is no tomorrow. Till this point no one generally gives a damn so another sentence on How we always help
				you but hey who cares?
			</h2>
		</div>
	</div>
{% endblock %}