<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block content %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
	<style>
		body{
		    background-image: url('../static/img/back.jpg');
			background-size: cover;
		}
	</style>
</head>
<body>

	<header class="intro-header">
	{% include 'includes/_navbar.html' %}
	<div id="bg">
		<div class="container">
			{% include 'includes/_messages.html' %}
			{% block body %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
