{% extends 'layout.html' %}
{% block content %}
Login
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Login</strong>
                </div>
                <div class="panel-body">
                    <form method="POST" class="form-horizontal" action="">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Username
                          </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="username" placeholder="Username" required="" value={{request.form.usernane}} >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Password</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="password" id="inputPassword3" placeholder="Password" required="" type="password" value={{request.form.password}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-md" value="Submit">
                                Log In</button>
                                 <button type="reset" class="btn btn-default btn-md">
                                Reset</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Not Registered? <a href="/register">Register here</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
