{% extends 'layout.html' %}
{% block content %}
Register
{% endblock %}
{% block body %}
  <div class="panel panel-default">
    <div class="panel-heading">
        <strong>Register</strong>
    </div>
    {% from 'includes/_formhelpers.html' import render_field %}
    <div class="container">
      <form method="POST" action="">
      <div class="col-xs-12 col-lg-6 col-md-6">
          <div class="form-group">
            {{render_field(form.m1_first, class_="form-control", placeholder="First Name")}}
          </div>
          <div class="form-group">
            {{render_field(form.m1_last, class_="form-control", placeholder="Last Name")}}
          </div>
          <div class="form-group">
            {{render_field(form.m1_email, class_="form-control", placeholder="Email", type="email")}}
          </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-md-6">
          <div class="form-group">
            {{render_field(form.m2_first, class_="form-control", placeholder="First Name")}}
          </div>
          <div class="form-group">
            {{render_field(form.m2_last, class_="form-control", placeholder="Last Name")}}
          </div>
          <div class="form-group">
            {{render_field(form.m2_email, class_="form-control", placeholder="Email", type="Email")}}
          </div>
      </div>
      <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
    </div>
  </div>
{% endblock %}
