{% extends 'layout.html' %}
{% block content %}
    Restaurants
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
                <h1 align="center">Restaurants</h1>
                <div class="col-md-8 col-md-offset-1">
                    <div class="panel panel-default" style="width:1000px;">
                        <div class="panel-body">
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        <tr data-status="kk">
                                            <td>
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <a href="https://www.zomato.com/hyderabad/k-k-itc-kakatiya-begumpet" class="pull-left">
                                                        <img src="../static/img/K&K.jpg" class="media-photo" alt="food">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">+91 40 2340 0132</span>
                                                        <h4 class="title">
                                                           <strong> K & K </strong>
                                                        </h4>
                                                        <p class="summary">6 - 3 - 1187 Begumpet | ITC Kakatiya Hotel, Hyderabad 500016, India
                                                        </p>
                                                        <p class="summary">
                                                                <strong>Hours</strong>
                                                                <br>Sun - Sat
                                                                <br>12:30 PM - 2:45 PM
                                                                <br>7:30 PM - 11:30 PM
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="kk">
                                            <td>
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <a href="https://www.itchotels.in/hotels/hyderabad/itckakatiya/dining/dakshin.html?utm_source=tripadvisor&utm_medium=referral" class="pull-left">
                                                        <img src="../static/img/dakshin.jpg" class="media-photo" alt="food">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">+91 40 2340 0132</span>
                                                        <h4 class="title">
                                                            <strong> Dakshin </strong>
                                                        </h4>
                                                        <p class="summary">
                                                        </p> The Golkonda Resorts & Spa | The Golkonda Resorts & Spa, Sagarmahal Complex, Hyderabad 500075, India 
                                                        <p class="summary">
                                                                <strong>Hours</strong>
                                                                <br>Sun - Sat
                                                                <br>12:30 PM - 2:45 PM
                                                                <br>7:30 PM - 11:30 PM
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="jewel">
                                                <td>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <a href="http://www.golkondaresorts.com/jewel-of-nizam-the-minar.html?utm_source=tripadvisor&utm_medium=referral" class="pull-left">
                                                            <img src="../static/img/jewel.jpg" class="media-photo" alt="food" width="250" height="188">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="media-meta pull-right">+91 40 3069 6969</span>
                                                            <h4 class="title">
                                                                <strong> Jewel of Nizam - The Minar </strong>
                                                            </h4>
                                                            <p class="summary">
                                                            ITC Kakatiya Hotel, Lobby Level, 6-3-1187, Begumpet, Hyderabad 500016, India</p>
                                                            <strong>Hours</strong>
                                                            <br>Sun - Sat
                                                            <br>11:00 AM - 10:30 PM

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <tr data-status="bidri">
                                                    <td>
                                                            <i class="glyphicon glyphicon-star"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="media">
                                                            <a href="https://www.zomato.com/hyderabad/bidri-hyderabad-marriott-hotel-convention-centre-necklace-road" class="pull-left">
                                                                <img src="../static/img/bidri.jpg" class="media-photo" alt="food" width="250" height="188">
                                                            </a>
                                                            <div class="media-body">
                                                                <span class="media-meta pull-right">+91 40 2752 2577</span>
                                                                <h4 class="title">
                                                                    <strong> Bidri </strong>
                                                                </h4>
                                                                <p class="summary">
                                                                        Hyderabad Marriott Hotel, 1-3-1024, Tank Bund | Opp Hussain Sagar Lake,Hyderabad</p>
                                                                <strong>Hours</strong>
                                                                <br>Sun - Sat
                                                                <br>6:30 PM - 11:30 PM
    
                                                            </div>
                                                        </div>
                                                </td>
                                        </tr>
                                        <tr data-status="bawarchi">
                                                <td>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <a href="http://ww1.bawarchihyd.com/?utm_source=tripadvisor&utm_medium=referral" class="pull-left">
                                                            <img src="../static/img/bawarchi-.jpg" class="media-photo" alt="food" width="250" height="188">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="media-meta pull-right">+91 40 2760 5308
                                                                </span>
                                                            <h4 class="title">
                                                                <strong> Bawarchi </strong>
                                                            </h4>
                                                            <p class="summary">
                                                                    Chikkadpally R T C Cross Road | Moosarambagh, Hyderabad 500020, India</p>
                                                            <strong>Hours</strong>
                                                            <br>Sun - Sat
                                                            <br>11:00 AM - 11:30 PM

                                                        </div>
                                                    </div>
                                            </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
{% endblock %}