{% extends 'layout.html' %}
{% block content %}
Email Verification
{% endblock %}
{% block body %}
  <h1>Verification</h1><br>
  {% from 'includes/_formhelpers.html' import render_field %}
  <div class="container">
    <form method="POST" action="">
      <div class="col-xs-12 col-lg-6 col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Username 1st Half</label>
          <input class="form-control" name="username1" placeholder="Username" type="text" value={{request.form.username1}}>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">OTP</label>
          <input class="form-control" name="otp1" placeholder="OTP" type="text" value={{request.form.otp1}}>
        </div>
        <div class="form-group">
          <label  class="col-sm-3 control-label">Password</label>
          <input class="form-control" name="password1" placeholder="Password" type="password" value={{request.form.password1}}>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Confirm</label>
          <input class="form-control" name="confirm1" placeholder="Confirm Password" type="password" value={{request.form.confirm1}}>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Username 2nd Half</label>
          <input class="form-control" name="username2" placeholder="Username" type="text" value={{request.form.username2}}>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">OTP</label>
          <input class="form-control" name="otp2" placeholder="OTP" type="text" value={{request.form.otp2}}>
        </div>
        <div class="form-group">
          <label  class="col-sm-3 control-label">Password</label>
          <input class="form-control" name="password2" placeholder="Password" type="password" value={{request.form.password2}}>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Confirm</label>
          <input class="form-control" name="confirm2" placeholder="Confirm Password" type="password" value={{request.form.confirm2}}>
        </div>
      </div>
      <p><input type="submit" class="btn btn-primary btn-lg" value="Submit"></p>
        </div>
  </form>
  </div>
{% endblock %}<!--
<div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Username</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="username" placeholder="Username" type="text" value={{request.form.username}}>
                        </div>
                    </div> -->
