<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-left" href="/">My App</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <!-- <div id="navbar"> -->
          <ul class="nav navbar-nav"> <!-- pull-right -->
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>
